<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>BIBLI OH TECH</title>
</head>

<body>

{% block titre} {{livres.nom}} {% endblock %}
{% block contenu%} 
<div class="row m-2">
    <div class="col-6">
        <h2></h2>
        <div>Auteur : {{livres.auteur}}</div>
        <div>Pages : {{livres.pages}}</div>
        <img src="/images/{{livres.image}}" alt="">
    </div>
    <div class="col-6">
        <h2>Résumé</h2>
        <div>
            {{livres.description}}
        </div>
    </div>
</div>
{% endblock contenu%}

</body>

</html>