<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>BIBLI OH TECH</title>
</head>

<body>
        
    <div class="container">
        <h1 class="rounded text-center  text-white">Livres disponibles</h1>
        <div>
        <a class="navbar-brand alert" href="/">Quitter</a>
         {% block contenu%} 
            <table class="table text-center monTableau" id="#tableauDesLivres">
                <thead>
                    <tr class="table-dark">
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Nombre de pages</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for livres in livres %}
                    <tr>
                        <td> <a href="livres/details/{{livre._id}}"> {{livres.nom }}</a></td>
                        <td>{{ livres.auteur }}</td>
                        <td>{{ livres.pages }}</td>
                        <td><button>Modifier</button></td>
                        <td>
                            <form method="POST" action="/livres/delete/{{livres._id}}" onSubmit = "return confirm('Voulez-vous vraiement supprimer?');">
                                <button class=" btn-danger" type="submit">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </body>
            </table>
        {% endblock contenu%}
            <button class="btn addBooks">Ajouter un livre</button>
            <div id="addForm" class="formAddBooks">
                <form action="" method="POST">
                    <div>
                        <label for="Name"> Titre du livre</label>
                        <input type="text" class="bookTitle" name="titre">
                    </div>
                    <div>
                        <label for="author"> Auteur</label>
                        <input type="text" class="bookAuther" name="auteur">
                    </div>
                    <div>
                        <label for="pages"> Nombre de pages</label>
                        <input type="number" class="bookPages" name="pages">
                    </div>
                    <div>
                        <label for="pages"> Description</label>
                        <textarea name="description" id="description" cols="30" rows="5"></textarea>
                    </div>
                    <button id="validForm" class="btn" type="submit">Valider</button>
                </form>

            </div>

        </div>
    </div>
 <script src="/js/main.js"></script>
</body>

</html>